<!-- Footer -->
<footer class="footer">
    <p class="footer-p">
      ELITE TRACK & FIELD CLUB OPERATING OUT OF WATERLOO REGION
    </p>
    <section class="icons">
      <a href="https://www.instagram.com/invictusathletics/" target="_blank">
        <i
          class="fa-brands fa-2x fa-instagram footer-icons"
          style="color: rgb(255, 138, 157)"></i
      ></a>
      <a href="./pages/contact.html" style="text-decoration: none">
        <i
          class="fa-solid fa-2x fa-envelope footer-icons"
          style="color: white"></i>
      </a>
      <a href="https://www.facebook.com/invictusathletics/" target="_blank"
        ><i
          class="fa-brands fa-2x fa-square-facebook footer-icons"
          style="color: blue"></i
      ></a>
    </section>
    <p class="footer-p">
      <strong>&copy</strong> INVICTUS ATHLETICS CLUB 2023
    </p>
  </footer>