  <!-- Navbar -->
  <nav>
    <a href="#">
      <img
        class="logo"
        src="./images/logo.png"
        alt="Invictus Athletics Club Logo"
    /></a>
    <button class="hamburger" id="hamburger">
      <i class="fas fa-2x fa-bars"></i>
    </button>
    <ul class="navbar" id="nav-list">
      <li><a class="nav-item" href="#">HOME</a></li>
      <li><a class="nav-item" href="#">ABOUT</a></li>
      <li><a class="nav-item" href="#">HISTORY</a></li>
      <li><a class="nav-item" href="#">GALLERY</a></li>
      <li><a class="nav-item" href="#">CONTACT</a></li>
    </ul>
  </nav>
  <!-- End of Nav -->