<%- include('layouts/head'); -%>
<!-- NAV -->
<%- include('layouts/nav'); -%>


<div class="banner title" style="margin-top: 100px; border-bottom: none;">INVICTUS</div>
<div class="banner title" style="border-top: none;">2023-2024 SEASON HAS ARRIVED!</div>

 <!-- Background Video -->
 <div style="display: flex; justify-content: center;">
    <video center autoplay loop muted plays-inline class="background-video">
      <source src="./images/track.mp4" type="video/mp4" />
    </video>
  </div>
  <!-- End of Background video -->
  
<!-- Media scroller -->
  <div class="banner title" style=" border-bottom: none;"></div>
  <div class="banner title" style="border-top: none;"></div>

  <div class="banner title" style="border-top: none; font-size: 4rem;">2022-23 WAS A GREAT YEAR FOR INVICTUS</div>
<!-- Media scroller -->

<!-- Body Containers -->
  <div class="main-writing-cont">
    <p class="large-writing">
      WE ARE AN ELITE TRACK & FIELD CLUB IN THE WATERLOO REGION WITH A FOCUS
      ON HURDLES AND SPRINTS
    </p>
    <img class="track-art" src="./images/trackArt.PNG" alt="Image of a Track" />
  </div>
  <div class="body-cont">
    <p class="large-writing" style="color: white">
      BONDS THAT GO BEYOND THE TRACK
    </p>
    <div class="main-photo">
      <img
        class="main-image"
        src="./images/bellBren.png"
        alt="Former Athletes" />
    </div>
    <div class="main-photo">
      <img
        src="./images/rayKid.png"
        alt="Coach and Former Athlete"
        class="main-image" />
    </div>
    <div class="main-photo">
      <img
        src="./images/alexAdam.png"
        alt="Former Athletes"
        class="main-image" />
    </div>
  </div>
  <div class="main-writing-cont">
    <p class="large-writing">
      WITH OVER 30 YEARS OF COMBINED COACHING EXPERIENCE, WE AIM TO PROVIDE
      OUR ATHLETES WITH THE SKILLS TO BE SUCCESSFUL ON AND OFF THE TRACK
    </p>
  </div>
  <!-- End of Body Containers -->


<!-- Footer -->
<%- include('layouts/footer'); -%>
<%- include('layouts/foot'); -%>
</html>