<%- include('layouts/head'); -%>

<!-- NAV -->
<%- include('layouts/nav'); -%>


<div class="banner title" style="margin-top: 140px; border-bottom: none;">INVICTUS</div>
<div class="banner title" style="border-top: none;">2023-2024 SEASON HAS ARRIVED!</div>



<%- include('layouts/foot'); -%>
</html>