<%- include('layouts/head'); -%>
<!-- NAV -->
<%- include('layouts/nav'); -%>


<div class="banner title" style="margin-top: 100px; border-bottom: none;">INVICTUS</div>
<div class="banner title" style="border-top: none;">2023-2024 SEASON HAS ARRIVED!</div>

 <!-- Background Video -->
 <div style="display: flex; justify-content: center;">
    <video center autoplay loop muted plays-inline class="background-video">
      <source src="./images/track.mp4" type="video/mp4" />
    </video>
  </div>
  <!-- End of Background video -->
  
<!-- Media scroller -->
<header class="page-header">
  <div class="container flow">
    <h1 class="page-title">Horizontal scrolling</h1>
    <p class="page-subtitle">Let's create a horizontal media scroller!</p>
  </div>
</header>
<h2 class="section-title">Individual elements</h2>

<div class="media-scroller snaps-inline">
  <div class="media-element">
    <img src="https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="">
    <p class="title">Short title</p>
  </div>
  <div class="media-element">
    <img src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="">
    <p class="title">A longer title here</p>
  </div>
  <div class="media-element">
    <img src="https://images.unsplash.com/photo-1641841344411-49dbd02896f4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="">
    <p class="title">An even longer title on this one</p>
  </div>
  <div class="media-element">
    <img src="https://images.unsplash.com/photo-1643223723262-7ce785730cf6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="">
    <p class="title">A dog that's blinking?</p>
  </div>
  <div class="media-element">
    <img src="https://images.unsplash.com/photo-1640938776314-4d303f8a1380?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400" alt="">
    <p class="title">Chair</p>
  </div>
  <div class="media-element">
    <img src="https://images.unsplash.com/photo-1641259041823-e09935369105?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400" alt="">
    <p class="title">Ut enim ad minim veniam</p>
  </div> 
</div>


</div>

  <div class="banner title" style="border-top: none; font-size: 4rem;">2022-23 WAS A GREAT YEAR FOR INVICTUS</div>
<!-- Media scroller -->

<!-- Body Containers -->
  <div class="main-writing-cont">
    <p class="large-writing">
      WE ARE AN ELITE TRACK & FIELD CLUB IN THE WATERLOO REGION WITH A FOCUS
      ON HURDLES AND SPRINTS
    </p>
    <img class="track-art" src="./images/trackArt.PNG" alt="Image of a Track" />
  </div>
  <div class="body-cont">
    <p class="large-writing" style="color: white">
      BONDS THAT GO BEYOND THE TRACK
    </p>
    <div class="main-photo">
      <img
        class="main-image"
        src="./images/bellBren.png"
        alt="Former Athletes" />
    </div>
    <div class="main-photo">
      <img
        src="./images/rayKid.png"
        alt="Coach and Former Athlete"
        class="main-image" />
    </div>
    <div class="main-photo">
      <img
        src="./images/alexAdam.png"
        alt="Former Athletes"
        class="main-image" />
    </div>
  </div>
  <div class="main-writing-cont">
    <p class="large-writing">
      WITH OVER 30 YEARS OF COMBINED COACHING EXPERIENCE, WE AIM TO PROVIDE
      OUR ATHLETES WITH THE SKILLS TO BE SUCCESSFUL ON AND OFF THE TRACK
    </p>
  </div>
  <!-- End of Body Containers -->


<!-- Footer -->
<%- include('layouts/footer'); -%>
<%- include('layouts/foot'); -%>
</html>