<%- include('layouts/head'); -%>

<!-- NAV -->
<%- include('layouts/nav'); -%>


<div class="banner title" style="margin-top: 140px; border-bottom: none;">INVICTUS</div>
<div class="banner title" style="border-top: none;">2023-2024 SEASON HAS ARRIVED!</div>


<div class="row-fluid">
    <div class="col-lg-12 col-md-10 ">
        <div class="cover-container">
            <!-- START PANEL -->
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-1177-64ACF6EA-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-1195-057710EE-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-22127-F19D3DDB-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-20175-8E3A7E0B-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-14056-DDBA88C7-uk.jpg')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-9095-764FF4DD-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-10675-3BB4D5CC-uk.png')"></div>
            <!-- END PANEL -->
        </div>
    </div>
</div>





<%- include('layouts/foot'); -%>
</html>