body {
  background-color: rgba(165, 165, 210, 0.596);
  font-weight: bold;
}

table,
td,
th {
  padding: 5px;
  border: 1px solid black;
}
h1 {
  text-align: center;
}
img {
  max-width: 100px;
  max-height: 100px;
}
.div {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}
fieldset {
  display: flex;
  flex-wrap: nowrap;
}
.full {
  width: 100%;
  display: flex;
}
form {
  display: flex;
}
.cust-info {
  margin-left: 4rem;
}

.formData {
  width: 60%;
  border: 2px dashed white;
  padding: 30px;
  margin: 50px;
  color: white;
  border-radius: 12px;
  background-color: rgb(80, 80, 212);
}

.top_menu {
  color: black;
  width: 100%;
}
.top_menu ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
}
.top_menu ul li {
  display: inline-block;
  width: 120px;
}
.top_menu ul li:hover {
  background-color: rgb(80, 80, 212);
}
.top_menu ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 0;
  display: block;
}
