body {
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow-x: hidden;
    font-family: "Fjalla One", sans-serif;
  }
  
  /* Navbar styling */
  nav {
    width: 100%;
    min-height: 100px;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 1;
  }
  
  .navbar {
    display: none;
  }
  
  .logo {
    height: 100px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }
  
  .nav-item {
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    padding-right: 1.5rem;
    text-decoration: none;
    font-family: "Fjalla One", sans-serif;
  }
  .nav-item:hover {
    color: gold;
  }
  
  /* Hamburger Related */
  .navbar.show {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0 5px 0 5px;
  }
  
  .hamburger {
    border: 0;
    color: white;
    background-color: transparent;
    margin-top: -90px;
  }
  
  .hamburger:focus {
    outline: none;
  }
  
  @media only screen and (min-width: 701px) {
    .hamburger {
      display: none;
    }
    .navbar {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      list-style-type: none;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
  /* End of Burger */
  /* End of Nav Styles */

  /* Main Body Styles */
.banner {
  border-bottom: 2px solid gold;
  border-top: 2px solid gold;
  height: 120px;
  font-size: 4rem;
  color: black;
  background-color: white;
  text-align: center;
  font-weight: 800;
  line-height: 120px;
}
.title {
  font-size: 6rem;
}

.background-video {
  object-fit: cover;
  height: 60vh;
  width: 100vw;
}

.main-writing-cont {
  height: 600px;
  width: 100%;
  border-top: 2px solid gold;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.large-writing {
  width: 100%;
  font-size: 4rem;
  color: black;
  font-family: "Fjalla One", sans-serif;
  font-weight: 800;
  text-align: center;
  padding: 0 3rem;
}
.track-art {
  height: 200px;
}

.body-cont {
  height: 600px;
  width: 100%;
  border-top: 2px solid gold;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-image {
  max-height: 300px;
  position: relative;
}
.main-photo {
  height: 300px;
  max-width: 25%;
  margin: 0 12px;
  background-color: white;
  border: 1px solid gold;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Footer Styles */
footer {
  min-height: 140px;
  width: 100%;
  text-align: center;
  background-color: black;
  display: table-cell;
  vertical-align: middle;
}
.footer-p {
  color: white;
  margin-top: 20px;
  font-family: "Fjalla One", sans-serif;
}
.icons {
  padding-top: 0;
}
.footer-icons {
  margin: 0 6px;
}

/* End of Footer Styles */



